<!-- /////////////////////////////////////////////////////// HEAD  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<%- include('./partials/head.ejs') %>

    <body class="bg-secondary bg-gradient">
        <div class="bodyContainer">
            <!-- /////////////////////////////////////////////////////// NAV BAR  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <%- include('./partials/nav.ejs') %>
                <!-- /////////////////////////////////////////////////////// CONTROL TABS  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
                <div class="allControls">
                    <div class="controlsItem controlSystem">
                        <!-- ============================ Watering Scheduling ============================  -->
                        <div>
                            <h5>Schedule Water Cycle</h5>
                        </div>
                        <!-- ============================ Scheduling Controls============================  -->
                        <div class="controlsItemInner waterSchedule">
                            <!-- ============================ Scheduling Week Day ============================  -->
                            <!-- Week Selector  -->
                            <div class="ControlContainer">
                                <div class="weekDays-selector">
                                    <input type="checkbox" id="weekday-mon" class="weekday" />
                                    <label for="weekday-mon">M</label>
                                    <input type="checkbox" id="weekday-tue" class="weekday" />
                                    <label for="weekday-tue">T</label>
                                    <input type="checkbox" id="weekday-wed" class="weekday" />
                                    <label for="weekday-wed">W</label>
                                    <input type="checkbox" id="weekday-thu" class="weekday" />
                                    <label for="weekday-thu">T</label>
                                    <input type="checkbox" id="weekday-fri" class="weekday" />
                                    <label for="weekday-fri">F</label>
                                    <input type="checkbox" id="weekday-sat" class="weekday" />
                                    <label for="weekday-sat">S</label>
                                    <input type="checkbox" id="weekday-sun" class="weekday" />
                                    <label for="weekday-sun">S</label>
                                </div>
                            </div>
                            <!-- Time Start-->
                            <div class="ControlContainer timers">
                                <div>
                                    <h6><span>Time interval: 3 sec</span></h6>
                                </div>
                                <div><input class="IRGWtrCycleTime" type="range" value="3" min="1" max="10" /></div>
                                <!-- Time Interval-->
                                <div>
                                    <h6><span>Start At:</span></h6>
                                </div>
                                <div><input type="time" id="Start" name="Start" /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="controlsItem controlSystem">
                    <!-- ============================ Watering Scheduling ============================  -->
                    <div>
                        <h5>Schedule Nutrient Cycle</h5>
                    </div>
                    <!-- ============================ Scheduling Controls============================  -->
                    <div class="controlsItemInner waterSchedule">
                        <!-- ============================ Scheduling Week Day ============================  -->
                        <!-- Week Selector  -->
                        <div class="ControlContainer">
                            <div class="weekDays-selector">
                                <input type="checkbox" id="weekday-mon" class="weekday" />
                                <label for="weekday-mon">M</label>
                                <input type="checkbox" id="weekday-tue" class="weekday" />
                                <label for="weekday-tue">T</label>
                                <input type="checkbox" id="weekday-wed" class="weekday" />
                                <label for="weekday-wed">W</label>
                                <input type="checkbox" id="weekday-thu" class="weekday" />
                                <label for="weekday-thu">T</label>
                                <input type="checkbox" id="weekday-fri" class="weekday" />
                                <label for="weekday-fri">F</label>
                                <input type="checkbox" id="weekday-sat" class="weekday" />
                                <label for="weekday-sat">S</label>
                                <input type="checkbox" id="weekday-sun" class="weekday" />
                                <label for="weekday-sun">S</label>
                            </div>
                        </div>
                        <!-- Time Start-->
                        <div class="ControlContainer timers">
                            <div>
                                <h6><span>Time interval: 3 sec</span></h6>
                            </div>
                            <div><input class="IRGWtrCycleTime" type="range" value="3" min="1" max="10" /></div>
                            <!-- Time Interval-->
                            <div>
                                <h6><span>Start At:</span></h6>
                            </div>
                            <div><input type="time" id="Start" name="Start" /></div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- /////////////////////////////////////////////////////// CONTROL PANELS  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
        <!-- /// -->
        <!-- /// -->
        <!-- /// -->
        <!-- /// -->
        <!-- /// -->
        <!-- /// -->
        <!-- ============================ Scripts ============================  -->
        <script src="/scripts/schedulescripts.js"></script>
        <!-- BootStrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>

    </html>