<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMP Maintenance Dashboard</title>
    <!-- Custom styles for this template -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous" />
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script src="socket.io/socket.io.js"></script>
</head>

<body class="bg-secondary bg-gradient">
    <div class="bodyContainer">
        <ul class="nav nav-pills mb-3 bg-info bg-gradient" id="pills-tab" role="tablist">
            <li class="nav-item h1" role="presentation">
                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            Light Controls
          </button>
            </li>
            <li class="nav-item h1" role="presentation">
                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
            Arm Controls
          </button>
            </li>
            <li class="nav-item h1" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            Irrigation Controls
          </button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <!-- /////////////////////////////////////////////////////// TAB 1 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <!-- ============================ All Lighting Controllers  ============================  -->
                <div class="allControls">
                    <!-- ============================ Control Panel Title  ============================  -->
                    <div class="controlsItem">
                        <h2>Light Controls</h2>
                    </div>

                    <!-- ============================ First Row 1  ============================  -->
                    <div class="controlsItem controlSystem">
                        <!-- ============================ Lighting Primary Header ============================  -->
                        <div>
                            <h5>Main</h5>
                        </div>
                        <!-- ============================ Lighting Primary Toggle Switch ============================  -->
                        <div class="controlsItemInner">
                            <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                            <div class="ControlContainer">
                                <!-- Toggle Div -->
                                <div>
                                    <input class="LEDGrowMain toggle" type="checkbox" />
                                </div>
                                <!-- Toggle Title -->
                                <div>
                                    <h3>LED Main Power </h3>
                                </div>
                            </div>
                            <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                            <div class="ControlContainer">
                                <!-- Toggle Div -->
                                <div>
                                    <input class="LEDGrowMain toggle" type="checkbox" />
                                </div>
                                <!-- Toggle Title -->
                                <div>
                                    <h3>LED Main </h3>
                                </div>
                            </div>
                            <!-- ============================ Lighting Primary Range Slider ============================  -->
                            <div class="ControlContainer sliderDom">
                                <!-- Range Slider -->
                                <div><input class="LEDGrowMain" type="range" value="0" /></div>

                                <!-- Range Slider Value -->
                                <div>
                                    <h3>
                                        <span></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================ Second Row 2  ============================  -->
                    <div class="controlsItem controlSystem">
                        <!-- ============================ Lighting Primary Header ============================  -->
                        <div>
                            <h5>LED Supp 1</h5>
                        </div>
                        <!-- ============================ Lighting Primary Toggle Switch ============================  -->
                        <div class="controlsItemInner">
                            <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                            <div class="ControlContainer">
                                <!-- Toggle Div -->
                                <div>
                                    <input class="LEDGrowSup1 toggle" type="checkbox" />
                                </div>
                                <!-- Toggle Title -->
                                <div>
                                    <h3>LED Supp 1</h3>
                                </div>
                            </div>
                            <!-- ============================ Lighting Primary Range Slider ============================  -->
                            <div class="ControlContainer sliderDom">
                                <!-- Range Slider -->
                                <div><input class="LEDGrowSup1" type="range" value="0" /></div>

                                <!-- Range Slider Value -->
                                <div>
                                    <h3>
                                        <span></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================ Third Row 3  ============================  -->
                    <div class="controlsItem controlSystem">
                        <!-- ============================ Lighting Primary Header ============================  -->
                        <div>
                            <h5>LED Supp 2</h5>
                        </div>
                        <!-- ============================ Lighting Primary Toggle Switch ============================  -->
                        <div class="controlsItemInner">
                            <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                            <div class="ControlContainer">
                                <!-- Toggle Div -->
                                <div>
                                    <input class="LEDGrowSup2 toggle" type="checkbox" />
                                </div>
                                <!-- Toggle Title -->
                                <div>
                                    <h3>LED Supp 2</h3>
                                </div>
                            </div>
                            <!-- ============================ Lighting Primary Range Slider ============================  -->
                            <div class="ControlContainer sliderDom">
                                <!-- Range Slider -->
                                <div><input class="LEDGrowSup2" type="range" value="0" id="LEDGrowSup2" /></div>

                                <!-- Range Slider Value -->
                                <div>
                                    <h3>
                                        <span></span>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /////////////////////////////////////////////////////// TAB 2 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <!-- ============================ All Swing  Controllers  ============================  -->
                <div class="allControls">
                    <!-- ============================ Control Panel Title  ============================  -->
                    <div class="controlsItem">
                        <h2>Swing Arm Controls</h2>
                    </div>

                    <!-- ============================ First Row 1  ============================  -->
                    <div class="controlsItem controlSystem">
                        <!-- ============================ Swing Primary Header ============================  -->
                        <div>
                            <h5>Main Power</h5>
                        </div>
                        <!-- ============================ Swing Primary Toggle Switch ============================  -->
                        <div class="controlsItemInner">
                            <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                            <div class="ControlContainer">
                                <!-- Toggle Div -->
                                <div>
                                    <input class="toggle" type="checkbox" id="STPRMainPWR" />
                                </div>
                                <!-- Toggle Title -->
                                <div>
                                    <h3>Swing Arm</h3>
                                </div>
                            </div>
                            <!-- ============================ Swing Primary Range Slider ============================  -->
                            <div class="ControlContainer sliderDom">
                                <!-- Range Slider -->
                                <div><input type="range" id="STPRMainDIM" min="-100" max="100" /></div>

                                <!-- Range Slider Value -->
                                <div>
                                    <h3>
                                        <span></span>
                                    </h3>
                                </div>
                            </div>
                            <!-- ============================ Left And Right Controls ============================  -->

                            <div class="ControlContainer">
                                <!-- Left Control -->
                                <div>
                                    <button type="button" class="btn btn-primary btn-lg"><<</button>
                                </div>
                                <!-- Right Control -->
                                <div>
                                    <button type="button" class="btn btn-primary btn-lg">>></button>
                                </div>
                            </div>

                            <!-- ============================ Left And Right indicator lights ============================  -->

                            <div class="ControlContainer">
                                <!-- Left Control -->
                                <div>
                                    <span class="badge rounded-pill bg-danger">Left</span>
                                </div>
                                <!-- Right Control -->
                                <div>
                                    <span class="badge rounded-pill bg-danger">Right</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /////////////////////////////////////////////////////// TAB 3 \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <!-- ============================ All Swing  Controllers  ============================  -->
                <div class="allControls">
                    <!-- ============================ Control Panel Title  ============================  -->
                    <div class="controlsItem">
                        <h2>Irrigation Controls</h2>
                    </div>

                    <!-- ============================ First Row 1  ============================  -->
                    <div class="controlsItem controlSystem">
                        <!-- ============================ Swing Primary Toggle Switch ============================  -->
                        <div class="controlsItemInner">
                            <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                            <div class="ControlContainer">
                                <!-- Toggle Div -->
                                <div>
                                    <input class="toggle" type="checkbox" id="STPRMainPWR" />
                                </div>
                                <!-- Toggle Title -->
                                <div>
                                    <h3>Swing Arm</h3>
                                </div>
                            </div>
                            <!-- ============================ Swing Primary Range Slider ============================  -->
                            <div class="ControlContainer sliderDom">
                                <!-- Range Slider -->
                                <div><input type="range" id="STPRMainDIM" min="-100" max="100" /></div>

                                <!-- Range Slider Value -->
                                <div>
                                    <h3>
                                        <span></span>
                                    </h3>
                                </div>
                            </div>
                            <!-- ============================ Left And Right Controls ============================  -->

                            <div class="ControlContainer">
                                <!-- Left Control -->
                                <div>
                                    <button type="button" class="btn btn-primary btn-lg"><<</button>
                                </div>
                                <!-- Right Control -->
                                <div>
                                    <button type="button" class="btn btn-primary btn-lg">>></button>
                                </div>
                            </div>

                            <!-- ============================ Left And Right indicator lights ============================  -->

                            <div class="ControlContainer">
                                <!-- Left Control -->
                                <div>
                                    <span class="badge rounded-pill bg-danger">Left</span>
                                </div>
                                <!-- Right Control -->
                                <div>
                                    <span class="badge rounded-pill bg-danger">Right</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /// -->
    <!-- /// -->
    <!-- /// -->
    <!-- /// -->
    <!-- /// -->
    <!-- /// -->
    <!-- ============================ Scripts ============================  -->
    <script src="/scripts/socketScripts.js"></script>
    <!-- BootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>

</html>