<!DOCTYPE html>
<html lang="en">

<head>
    <title>AMP Maintenance Dashboard</title>
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <div class="parent">
        <!--Lighting   -->
        <div class="child">
            <h2>Lighting</h2>
            <!-- Unordered List -->
            <ul>
                <!-- Main LED controls -->
                <li>
                    <!-- Title -->
                    <h6 class="DashTitle">LED main</h6>
                    <!-- Toggle -->
                    <div class="content">
                        <label class="switch">
                <input type="checkbox" id="myonoffswitch" />
                <span class="slider round"></span>
              </label>
                    </div>

                    <!-- Range Slider -->
                    <div class="sliderValues">
                        <!-- Slider  -->
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" id="myRange" />
                        </div>
                        <!-- Slider Value -->
                        <div class="valueText">
                            <p>
                                Dim:
                                <span id="demo"></span>
                            </p>
                        </div>
                    </div>
                </li>
                <!-- LED Supp 1 -->
                <li>
                    <!-- Title -->
                    <h6 class="DashTitle">LED supp 1</h6>
                    <!-- Toggle -->
                    <div class="content">
                        <label class="switch">
                <input type="checkbox" id="myonoffswitch" />
                <span class="slider round"></span>
              </label>
                    </div>

                    <!-- Range Slider -->
                    <div class="sliderValues">
                        <!-- Slider  -->
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" id="myRange" />
                        </div>
                        <!-- Slider Value -->
                        <div class="valueText">
                            <p>
                                Dim:
                                <span id="demo"></span>
                            </p>
                        </div>
                    </div>
                </li>
                <!-- LED sup 2 -->
                <li>
                    <!-- Title -->
                    <h6 class="DashTitle">LED supp 2</h6>
                    <!-- Toggle -->
                    <div class="content">
                        <label class="switch">
                <input type="checkbox" id="myonoffswitch" />
                <span class="slider round"></span>
              </label>
                    </div>

                    <!-- Range Slider -->
                    <div class="sliderValues">
                        <!-- Slider  -->
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" id="myRange" />
                        </div>
                        <!-- Slider Value -->
                        <div class="valueText">
                            <p>
                                Dim:
                                <span id="demo"></span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Swing Arm -->
        <div class="child">
            <h2>Swing Arm</h2>
            <!-- Unsorted List -->
            <ul>
                <!-- Swing Arm controls -->
                <li>
                    <!-- Title -->
                    <h6 class="DashTitle">Swing Arm</h6>
                    <!-- Toggle -->
                    <div class="content">
                        <label class="switch">
                <input type="checkbox" id="myonoffswitch" />
                <span class="slider round"></span>
              </label>
                    </div>

                    <!-- Swing Arm Position Slider -->
                    <div class="sliderValues">
                        <!-- Slider  -->
                        <div class="slidecontainer">
                            <input type="range" min="1" max="100" value="50" id="myRange" />
                        </div>
                        <!-- Slider Value -->
                        <div class="valueText">
                            <p>
                                Pos:
                                <span id="demo"></span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <!-- Swing Arm Controls -->
                    <table>
                        <!-- Pulse buttons -->
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        <!-- Calibration buttons -->
                        <tr>
                            <td>
                                <button><h3><<</h3></button>
                            </td>
                            <td>
                                <button><h3>>></h3></button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>CCW</p>
                            </td>
                            <td>
                                <p>CW</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="content">
                                    <label class="switch">
                      <input type="checkbox" id="myonoffswitch" />
                      <span class="slider round"></span>
                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="content">
                                    <label class="switch">
                      <input type="checkbox" id="myonoffswitch" />
                      <span class="slider round"></span>
                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>CCW</p>
                            </td>
                            <td>
                                <p>CW</p>
                            </td>
                        </tr>
                    </table>
                </li>
                <!-- Air -->
            </ul>
            <h2>Air</h2>
            <ul>
                <li>
                    <!-- Title -->
                    <h6 class="DashTitle">Fan</h6>
                    <!-- Toggle -->
                    <div class="content">
                        <label class="switch">
                <input type="checkbox" id="myonoffswitch" />
                <span class="slider round"></span>
              </label>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Plumbing -->
        <div class="child">
            <h2>Plumbing</h2>
            <!-- Unordered list -->
            <ul>
                <!-- First Row -->
                <li>
                    <ul>
                        <!-- Main Pump toggle controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">Pump Main</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                        <!-- lvl 5 controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">lvl 5</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 2nd Row -->
                <li>
                    <ul>
                        <!-- H2O controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">H2O</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                        <!-- lvl 4 controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">lvl 4</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 3rd Row -->
                <li>
                    <ul>
                        <!-- Nutrient controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">Nutrient</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                        <!-- lvl 3 controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">lvl 3</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 4th Row -->
                <li>
                    <ul>
                        <!-- Indicator Lights -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">LED main</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                        <!-- lvl 2 controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">lvl 2</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- 5th Row -->
                <li>
                    <ul>
                        <!-- Main Pump toggle controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">Transfer</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                        <!-- lvl 5 controls -->
                        <li>
                            <!-- Title -->
                            <h6 class="DashTitle">lvl 1</h6>
                            <!-- Toggle -->
                            <div class="content">
                                <label class="switch">
                    <input type="checkbox" id="myonoffswitch" />
                    <span class="slider round"></span>
                  </label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="socket.io/socket.io.js"></script>

    <script>
        var socket = io.connect('/');
        var slider = document.getElementById('myRange');
        var output = document.getElementById('demo');
        output.innerHTML = slider.value;

        slider.oninput = function() {
            var dim = this.value;
            m;
            output.innerHTML = dim;

            console.log('dimmed ' + dim);
        };
        document.getElementById('myonoffswitch').addEventListener('change', function() {
            socket.emit('stateChanged', this.checked);
            console.log(this.checked);
        });
        document.getElementById('myRange').addEventListener('click', function() {
            socket.emit('stateChanged', this.value);
            console.log(this.value);
        });
    </script>
    <script></script>
</body>

</html>