<div class="tab-pane fade" id="pills-air" role="tabpanel" aria-labelledby="pills-air-tab">
    <!-- ============================ All Irrigation  Controllers  ============================  -->
    <div class="allControls">
        <!-- ============================ First Row 1  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner AirCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Pump Main -->
                    <div class="stackedToggle">
                        <input class="AIRMainPwr toggle" type="checkbox" />
                        <h6>Main</h6>
                    </div>
                    <!-- Toggle LVL 5 -->
                    <div class="stackedToggle">
                        <!-- <input class="AIRSup1 toggle" type="checkbox" disabled/> -->
                        <!-- <h6>Reserve</h6> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>