<div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
    <!-- ============================ All Irrigation  Controllers  ============================  -->
    <div class="allControls">
        <!-- ============================ First Row 1  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Pump Main -->
                    <div class="stackedToggle">
                        <input class="IRGMainPump toggle" type="checkbox" />
                        <h6>Main</h6>
                    </div>
                    <!-- Toggle LVL 5 -->
                    <div class="stackedToggle">
                        <input class="IRGlvl5Sol toggle" type="checkbox" />
                        <h6>lvl 5</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================ SECOND ROW 2 ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Pump Main -->
                    <div class="stackedToggle">
                        <input class="IRGWtrSol toggle" type="checkbox" />
                        <h6>H2O</h6>
                    </div>
                    <!-- Toggle LVL 5 -->
                    <div class="stackedToggle">
                        <input class="IRGlvl4Sol toggle" type="checkbox" />
                        <h6>lvl 4</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Third ROW 3 ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Pump Main -->
                    <div class="stackedToggle">
                        <input class="IRGNutrSol toggle" type="checkbox" />
                        <h6>Nutrient</h6>
                    </div>
                    <!-- Toggle LVL 5 -->
                    <div class="stackedToggle">
                        <input class="IRGlvl3Sol toggle" type="checkbox" />
                        <h6>lvl 3</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ 4th ROW 4 ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Pump Main -->
                    <div class="stackedToggle">
                        <input class="IRGTrnsPump toggle" type="checkbox" />
                        <h6>Transfer</h6>
                    </div>
                    <!-- Toggle LVL 5 -->
                    <div class="stackedToggle">
                        <input class="IRGlvl2Sol toggle" type="checkbox" />
                        <h6>lvl 2</h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================ 5th ROW 5 ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Pump Main -->
                    <div class="stackedToggle">
                        <input class="IRGLight toggle" type="checkbox" />
                        <h6>Lights</h6>
                    </div>
                    <!-- Toggle LVL 5 -->
                    <div class="stackedToggle">
                        <input class="IRGlvl1Sol toggle" type="checkbox" />
                        <h6>lvl 1</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Water Cycler ROW 6 ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCyclesWtr">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <button class="IRGWtrCycle btn btn-primary" type="button">Run Cycle</button>
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>Water Cycle</h6>
                    </div>
                </div>
                <!-- ============================ Cycle Time Range Slider ============================  -->
                <div class="ControlContainer sliderDom">
                    <!-- Range Slider -->
                    <div><input class="IRGWtrCycleTime" type="range" value="3" min="1" max="10" /></div>

                    <!-- Range Slider Value -->
                    <div>
                        <h6>
                            <span>Time interval: 3 sec</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- ============================ Nutr Cycler ROW 7 ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner IRGCyclesNutr">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <button class="IRGNutrCycle btn btn-primary" type="button">Run Cycle</button>
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>Nutrient Cycle</h6>
                    </div>
                </div>
                <!-- ============================Cycle Time Slider ============================  -->
                <div class="ControlContainer sliderDom">
                    <!-- Range Slider -->
                    <div><input class="IRGNutrCycleTime" type="range" value="3" min="1" max="10" /></div>

                    <!-- Range Slider Value -->
                    <div>
                        <h6>
                            <span>Time interval: 3 sec</span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>