<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- ============================ All Lighting Controllers  ============================  -->
    <div class="allControls">
        <!-- ============================ Main Power   ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ Lighting Primary Header ============================  -->
            <div>
                <h5>Main Power Control</h5>
            </div>
            <!-- ============================ Lighting Primary Toggle Switch ============================  -->
            <div class="controlsItemInner LEDCtrl spacer">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <input class="LEDGrowMainPwr toggle" type="checkbox" id="LEDGrowPowerID" />
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>LED Main Power</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ First Row 1  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ Lighting Primary Header ============================  -->
            <div>
                <h5>Main LED Controls</h5>
            </div>
            <!-- ============================ Lighting Primary Toggle Switch ============================  -->
            <div class="controlsItemInner LEDCtrl">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <input class="LEDGrowMain toggle" type="checkbox" id="LEDGrowMainID" />
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>LED Main</h6>
                    </div>
                </div>
                <!-- ============================ Lighting Primary Range Slider ============================  -->
                <div class="ControlContainer sliderDom">
                    <!-- Range Slider -->
                    <div><input class="LEDGrowMain" type="range" value="0" /></div>

                    <!-- Range Slider Value -->
                    <div>
                        <h6>
                            <span></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Second Row 2  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ Lighting Primary Header ============================  -->
            <div>
                <h5>LED Supp 1 Controls</h5>
            </div>
            <!-- ============================ Lighting Primary Toggle Switch ============================  -->
            <div class="controlsItemInner LEDCtrl">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <input class="LEDGrowSup1 toggle" type="checkbox" />
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>LED Supp 1</h6>
                    </div>
                </div>
                <!-- ============================ Lighting Primary Range Slider ============================  -->
                <div class="ControlContainer sliderDom">
                    <!-- Range Slider -->
                    <div><input class="LEDGrowSup1" type="range" value="0" /></div>

                    <!-- Range Slider Value -->
                    <div>
                        <h6>
                            <span></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================ Third Row 3  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ Lighting Primary Header ============================  -->
            <div>
                <h5>LED Supp 2 Controls</h5>
            </div>
            <!-- ============================ Lighting Primary Toggle Switch ============================  -->
            <div class="controlsItemInner LEDCtrl">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <input class="LEDGrowSup2 toggle" type="checkbox" />
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>LED Supp 2</h6>
                    </div>
                </div>
                <!-- ============================ Lighting Primary Range Slider ============================  -->
                <div class="ControlContainer sliderDom">
                    <!-- Range Slider -->
                    <div><input class="LEDGrowSup2" type="range" value="0" id="LEDGrowSup2" /></div>

                    <!-- Range Slider Value -->
                    <div>
                        <h6>
                            <span></span>
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>