<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
    <!-- ============================ All Swing  Controllers  ============================  -->
    <div class="allControls">
        <!-- ============================ First Row 1  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ Swing Primary Header ============================  -->
            <div>
                <h5>Swing Arm</h5>
            </div>
            <!-- ============================ Swing Primary Toggle Switch ============================  -->
            <div class="controlsItemInner ARMCtrl">
                <!-- ============================ Toggle Div wrapper (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Toggle Div -->
                    <div>
                        <button class="swingArmPWR btn btn-primary" name="calibrate" type="button">Calibrate</button>
                    </div>
                    <!-- Toggle Title -->
                    <div>
                        <h6>Swing Arm</h6>
                    </div>
                </div>
                <!-- ============================ Swing Primary Range Slider ============================  -->
                <div class="ControlContainer sliderDom">
                    <!-- Range Slider -->
                    <div><input type="range" class="swingArmLoc" max="100" /></div>

                    <!-- Range Slider Value -->
                    <div>
                        <h6>
                            <span>Position: 50</span>
                        </h6>
                    </div>
                </div>
                <!-- ============================ Left And Right Controls ============================  -->

                <div class="ControlContainer">
                    <!-- Left Control -->
                    <div>
                        <button type="button" name="pulsate" class="swingArmL pulsing btn btn-primary btn-lg"><<</button>
                    </div>
                    <!-- Right Control -->
                    <div>
                        <button type="button" name="pulsate" class="swingArmR btn btn-primary btn-lg">>></button>
                    </div>
                </div>

                <!-- ============================ Left And Right indicator lights ============================  -->

                <div class="ControlContainer">
                    <!-- Left Control -->
                    <div>
                        <span class="badge rounded-pill bg-danger">Left</span>
                    </div>
                    <!-- Right Control -->
                    <div>
                        <span class="badge rounded-pill bg-danger">Right</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>