<div class="tab-pane fade" id="pills-schedule" role="tabpanel" aria-labelledby="pills-schedule-tab">
    <!-- ============================ All Irrigation  Controllers  ============================  -->
    <div class="allControls">
        <!-- ============================ First Row 1  ============================  -->
        <div class="controlsItem controlSystem">
            <!-- ============================ IRG PUMP MAIN SWITCH     ============================  -->
            <div class="controlsItemInner ScheduleCtrl">
                <!-- ============================ IRG PUMP MAIN // LVL5 SWITCH  (toggle and title) ============================  -->
                <div class="ControlContainer">
                    <!-- Button Run Routine -->
                    <div class="stackedToggle">
                        <div class="ControlContainer">
                            <!-- Toggle Div -->
                            <div>
                                <button class="RunSchedule btn btn-primary" name="scheduler" type="button">Schedule</button>
                            </div>
                            <!-- Toggle Title -->
                            <div>
                                <h6>Run Schedule</h6>
                            </div>
                        </div>
                        <div class="ControlContainer">
                            <!-- Toggle Div -->
                            <div>
                                <button class="CancelSchedule btn btn-primary" name="cancelScheduler" type="button">Cancel</button>
                            </div>
                            <!-- Toggle Title -->
                            <div>
                                <h6>Cancel Schedule</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>